RealTimeUnit/Connected Services/ServiceReference1/MetadataAddress.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="initialize">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="io" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lowLimit" type="xs:double" />
        <xs:element minOccurs="0" name="highLimit" type="xs:double" />
        <xs:element minOccurs="0" name="signature" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="initializeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="initializeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValueToAddres">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="io" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="number" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValueToAddresResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>