RealTimeUnit/Connected Services/ServiceReference1/RealTimeUnit.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RealTimeUnit" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:4357/RealTimeUnit.svc/MetadataAddress?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:4357/RealTimeUnit.svc/MetadataAddress?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRealTimeUnit_initialize_InputMessage">
    <wsdl:part name="parameters" element="tns:initialize" />
  </wsdl:message>
  <wsdl:message name="IRealTimeUnit_initialize_OutputMessage">
    <wsdl:part name="parameters" element="tns:initializeResponse" />
  </wsdl:message>
  <wsdl:message name="IRealTimeUnit_ValueToAddres_InputMessage">
    <wsdl:part name="parameters" element="tns:ValueToAddres" />
  </wsdl:message>
  <wsdl:message name="IRealTimeUnit_ValueToAddres_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValueToAddresResponse" />
  </wsdl:message>
  <wsdl:portType name="IRealTimeUnit">
    <wsdl:operation name="initialize">
      <wsdl:input wsaw:Action="http://tempuri.org/IRealTimeUnit/initialize" message="tns:IRealTimeUnit_initialize_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRealTimeUnit/initializeResponse" message="tns:IRealTimeUnit_initialize_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValueToAddres">
      <wsdl:input wsaw:Action="http://tempuri.org/IRealTimeUnit/ValueToAddres" message="tns:IRealTimeUnit_ValueToAddres_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRealTimeUnit/ValueToAddresResponse" message="tns:IRealTimeUnit_ValueToAddres_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRealTimeUnit" type="tns:IRealTimeUnit">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="initialize">
      <soap:operation soapAction="http://tempuri.org/IRealTimeUnit/initialize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValueToAddres">
      <soap:operation soapAction="http://tempuri.org/IRealTimeUnit/ValueToAddres" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RealTimeUnit">
    <wsdl:port name="BasicHttpBinding_IRealTimeUnit" binding="tns:BasicHttpBinding_IRealTimeUnit">
      <soap:address location="http://localhost:4357/RealTimeUnit.svc/rtu" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>