ReportManager/Connected Services/ServiceReference1/MetadataAddress.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4357/ReportManagerService.svc/MetadataAddress?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SCADA_Core" />
  <xs:element name="GetAlarmsInTimeRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="from" type="xs:dateTime" />
        <xs:element minOccurs="0" name="to" type="xs:dateTime" />
        <xs:element minOccurs="0" name="sortBy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sortType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlarmsInTimeRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SCADA_Core" minOccurs="0" name="GetAlarmsInTimeRangeResult" nillable="true" type="q1:ArrayOfAlarmValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlarmsByPriority">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="prioritet" type="xs:int" />
        <xs:element minOccurs="0" name="sortType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlarmsByPriorityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SCADA_Core" minOccurs="0" name="GetAlarmsByPriorityResult" nillable="true" type="q2:ArrayOfAlarmValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTagsInTimeRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="from" type="xs:dateTime" />
        <xs:element minOccurs="0" name="to" type="xs:dateTime" />
        <xs:element minOccurs="0" name="sortType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTagsInTimeRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SCADA_Core" minOccurs="0" name="GetTagsInTimeRangeResult" nillable="true" type="q3:ArrayOfTagValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastValuesAI">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sortType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastValuesAIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SCADA_Core" minOccurs="0" name="GetLastValuesAIResult" nillable="true" type="q4:ArrayOfTagValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastValuesDI">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sortType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastValuesDIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SCADA_Core" minOccurs="0" name="GetLastValuesDIResult" nillable="true" type="q5:ArrayOfTagValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTagValuesByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tagName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sortType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTagValuesByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SCADA_Core" minOccurs="0" name="GetTagValuesByNameResult" nillable="true" type="q6:ArrayOfTagValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>